/* Import Font */

@font-face {
  font-family: "MS Sans Serif";
  src: url("./micross.ttf");
}

@font-face {
  font-family: "Digital Dismay";
  src: url("./digital-dismay.otf") format("truetype");
}

/* Variables */

:root {
  --default-border: 2px solid #7b7b7b;
  --default-border2: 2px solid #ffffff;
  --grid-size: 500px;
  --mobile-grid-size: 350px;
}

/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */

body {
  background-color: #0d8584;
  font-family: "MS Sans Serif";
}

/* Main */

main {
  display: flex;
  justify-content: center;
  margin: 8rem 0;
}

.game-board {
  padding: 3px;
  background-color: #c0c0c0;
}

/* Game Board - Header */

.game-board .header {
  padding: 3px;
  display: flex;
  justify-content: space-between;
  color: #d5def3;
  background: linear-gradient(
    to right,
    rgba(33, 41, 89, 1) 0%,
    rgba(33, 41, 89, 1) 11%,
    rgba(80, 114, 161, 1) 56%,
    rgba(117, 172, 219, 0.7) 92%,
    rgba(125, 185, 232, 0) 100%
  );
}

.game-board .header > div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

/* Game Board - Info */

.game-board .info {
  margin: 6px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  border-top: var(--default-border);
  border-right: var(--default-border2);
  border-bottom: var(--default-border2);
  border-left: var(--default-border);

  font-family: "Digital Dismay";
  font-size: 35px;
  letter-spacing: 1px;
  color: red;
}

.game-board .info > div {
  text-align: center;
}

.game-board .info .count {
  background-color: black;
  padding: 4px 4px 0 7px;
  line-height: 2rem;
}

.game-board .info #reset {
  width: 38px;
  height: 38px;
  border-top: var(--default-border2);
  border-right: var(--default-border);
  border-bottom: var(--default-border);
  border-left: var(--default-border2);
}

.game-board .info #reset:hover {
  cursor: pointer;
}

/* Game Board - Grid */

#grid {
  position: relative;
  width: var(--grid-size);
  display: flex;
  flex-wrap: wrap;
}

#grid div {
  border-top: var(--default-border2);
  border-right: var(--default-border);
  border-bottom: var(--default-border);
  border-left: var(--default-border2);
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid div:hover {
  cursor: pointer;
}

/* Game Board - Grid - Colors */

#grid div.bg-blue {
  color: white;
  background-color: blue;
}

#grid div.bg-red {
  color: white;
  background-color: red;
}

/* Game Board - Grid - Width/Height */

#grid div.easy {
  width: calc(var(--grid-size) / 10);
  height: calc(var(--grid-size) / 10);
}

#grid div.medium {
  width: calc(var(--grid-size) / 9);
  height: calc(var(--grid-size) / 9);
}

#grid div.hard {
  width: calc(var(--grid-size) / 7);
  height: calc(var(--grid-size) / 7);
}

/* Footer */

footer {
  height: 36px;
  position: fixed;
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #bfbfbf;
}

footer button {
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding-left: 0.3rem;
  font-size: 14px;
  background-color: #bfbfbf;
  color: black;
  border-bottom: var(--default-border);
  border-left: var(--default-border2);
  border-top: var(--default-border2);
  border-right: var(--default-border);
}

footer button:hover {
  background-color: lightgray;
  color: slategray;
  cursor: pointer;
}

footer div {
  float: left;
}

footer .inline {
  display: inline;
  margin: 2px;
}

/* Message */

.message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message > * {
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: darkred;
}

/* Mobile */

@media screen and (max-width: 800px) {
  body {
    height: 100vh;
  }

  .flex-container {
    margin: 2rem 0;
  }

  #grid {
    width: var(--mobile-grid-size);
  }

  #grid div {
    width: calc(var(--mobile-grid-size) / 10);
    height: calc(var(--mobile-grid-size) / 10);
  }
}
